<footer class="footer container">
  <div class="wrapper-footer">
    <a href="#">
      <svg class="logo-footer">
        <use href="./src/assets/svg/symbol-defs.svg#icon-logo-ua"></use>
      </svg>
    </a>
    <nav class="nav-footer">
      <ul class="list-nav-footer">
        <li class="item-nav-footer"><a href="#About-us">About us</a></li>
        <li><a href="#Tours">Tours</a></li>
        <li><a href="#Gallery">Gallery</a></li>
        <li><a href="#Contacts">Contacts</a></li>
      </ul>
    </nav>
    <div class="wrapper-contacts-social-footer">
      <address class="wrapper-list-footer">
        <ul class="list-contacts-footer">
          <li class="item-contacts-footer">
            <a href="tel:+38097-123-11-11" target="_blank">+38097-123-11-11</a>
          </li>
          <li class="item-contacts-footer">
            <a href="mailto:WondersOfUkraine@gmail.com" target="_blank"
              >WondersOfUkraine@gmail.com</a
            >
          </li>
          <li class="item-contacts-footer">
            <a
              href="https://www.google.com/maps?q=Lviv,+Zaporyzhka+198"
              target="_blank"
              >Lviv, Zaporyzhka, 198</a
            >
          </li>
        </ul>
      </address>
  
      <ul class="list__icon-social-footer">
        <li class="item__icon-social-footer">
          <a href="">
            <svg class="icon-social-footer">
              <use href="./src/assets/svg/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item__icon-social-footer">
          <a href="">
            <svg class="icon-social-footer">
              <use href="./src/assets/svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="item__icon-social-footer">
          <a href="">
            <svg class="icon-social-footer">
              <use href="./src/assets/svg/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <p class="copywriter">© All Rights Reserved</p>
</footer>
