<section class="gallery container js-slider-container">
  <h2 class="title-sections">Gallery</h2>
  <div class="swiper container-swiper">
    <ul class="swiper-wrapper list-gallery">
    </ul>
  </div>
  <div class="btn-container">
    <button class="prev-btn swiper-button-prev">
      <svg class="icon-prev">
        <use href="./src/assets/svg/symbol-defs.svg#icon-prew"></use>
      </svg>
    </button>
    <button class="next-btn swiper-button-next">
      <svg class="icon-next">
        <use href="./src/assets/svg/symbol-defs.svg#icon-next"></use>
      </svg>
    </button>
  </div>
</section>
