<header class="header-container">
  <nav class="nav-header">
    <a href="">
      <svg class="logo">
        <use href="./src/assets/svg/symbol-defs.svg#icon-logo-ua"></use>
      </svg>
    </a>

    <ul class="list-nav-header">
      <li class="item-nav-header"><a href=""></a>About us</li>
      <li class="item-nav-header"><a href=""></a>Tours</li>
      <li class="item-nav-header"><a href=""></a>Gallery</li>
      <li class="item-nav-header"><a href=""></a>Contacts</li>
    </ul>
  </nav>

  <button class="btn__burger-menu">
    <svg class="icon-burger-menu open-burger-menu">
      <use href="./src/assets/svg/symbol-defs.svg#icon-burger-menu"></use>
    </svg>
     <svg class="icon-burger-menu close-burger-menu is-hidden">
      <use href="./src/assets/svg/symbol-defs.svg#icon-cross"></use>
    </svg>
  </button>

  <div class="burger-menu">
    <nav>
      <ul class="list-nav-burger-menu">
        <li class="item-nav-burger-menu"><a href=""></a>About us</li>
        <li class="item-nav-burger-menu"><a href=""></a>Tours</li>
        <li class="item-nav-burger-menu"><a href=""></a>Gallery</li>
        <li class="item-nav-burger-menu"><a href=""></a>Contacts</li>
      </ul>
    </nav>
  </div>
</header>
