<section class="hero container">
  <h1 class="title-hero">Unlock the Wonders of</h1>
  <p class="subTitle" data-text="Ukraine">Ukraine</p>
  <a href="#">
    <button class="btn-hero">Our tours</button>
  </a>
  <ul class="list__icon-social">
    <li class="item__icon-social">
      <a href="">
        <svg class="icon-social">
        <use href="./src/assets/svg/symbol-defs.svg#icon-instagram"></use>
      </svg>
      </a>
    </li>
    <li class="item__icon-social">
      <a href="">
        <svg class="icon-social">
        <use href="./src/assets/svg/symbol-defs.svg#icon-facebook"></use>
      </svg>
      </a>
    </li>
    <li class="item__icon-social">
      <a href="">
        <svg class="icon-social">
        <use href="./src/assets/svg/symbol-defs.svg#icon-telegram"></use>
      </svg>
      </a>
    </li>
  </ul>
</section>
