<section class="our-tours container">
  <h2 class="title-sections">Our tours</h2>
  <div class="swiper">
    <ul class="list-our-tours swiper-wrapper"></ul>
  </div>
  <div class="btn-container">
    <button class="prev-btn swiper-button-prev">
      <svg class="icon-prev">
        <use href="./src/assets/svg/symbol-defs.svg#icon-prew"></use>
      </svg>
    </button>
    <button class="next-btn swiper-button-next">
      <svg class="icon-next">
        <use href="./src/assets/svg/symbol-defs.svg#icon-next"></use>
      </svg>
    </button>
  </div>
</section>
