<section class="reviews container">
  <h2 class="title-sections">Reviews</h2>

  <div class="wrapper-reviews">
    <div class="wrapper-info-person">
      <img src="/image/reviews/Dmitro.png" alt="Dmitro" />
      <div class="name-person">
        <h3 class="title-name-person">Dmitro</h3>
        <ul class="list-icon-stars">
          <li class="item-icon-star">
            <svg>
              <use href="./src/assets/svg/symbol-defs.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="item-icon-star">
            <svg>
              <use href="./src/assets/svg/symbol-defs.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="item-icon-star">
            <svg>
              <use href="./src/assets/svg/symbol-defs.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="item-icon-star">
            <svg>
              <use href="./src/assets/svg/symbol-defs.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="item-icon-star">
            <svg>
              <use href="./src/assets/svg/symbol-defs.svg#icon-Star"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <p class="text-reviews">
      It was an incredible trip and I am very grateful to the organizers for the
      opportunity to learn more about our country
    </p>
  </div>

  <div class="btn-container">
    <button class="prev-btn swiper-button-prev">
      <svg class="icon-prev">
        <use href="./src/assets/svg/symbol-defs.svg#icon-prew"></use>
      </svg>
    </button>
    <button class="next-btn swiper-button-next">
      <svg class="icon-next">
        <use href="./src/assets/svg/symbol-defs.svg#icon-next"></use>
      </svg>
    </button>
  </div>
</section>
