<section class="start-travel container">
  <div class="wrapper-start-travel">
    <div class="wripper-info-start-trevel">
      <h2 class="title-sections title-start-travel">Start travel</h2>
      <p class="text-start-travel">
        If you want to get an unforgettable trip, quickly fill out the
        application and we will contact you during the day
      </p>
      <p class="text__start-travel--secondary">
        We are ready to answer any questions and help choose the best tour
      </p>
    </div>

    <form class="forma-start-travel">
      <div class="wrapper-input">
        <label for="name">Name</label>
        <input
          required
          type="text"
          id="name"
          placeholder="Enter your name"
          class="input-start-travel"
        />
      </div>

      <div class="wrapper-input">
        <label for="phone">Phone</label>
        <input
          required
          type="tel"
          id="phone"
          placeholder="+380__-___-__-__"
          class="input-start-travel"
          pattern="^\+380\d{2}-\d{3}-\d{2}-\d{2}$"
        />
      </div>

      <textarea
        name="message"
        placeholder="Your message"
        aria-label="Your message"
        class="texteria-start-travel"
      ></textarea>
      <button type="submit" class="btn-form-submit">Send</button>
    </form>
  </div>
</section>
