@font-face {
  font-family: "Jomolhari";
  src:
    url("/fonts/Jomolhari-Regular.woff2") format("woff2"),
    url("/fonts/Jomolhari-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lato";
  src:
    url("/fonts/lato-Regular.woff2") format("woff2"),
    url("/fonts/lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
