@use "./variables" as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}
input,
textarea {
  font: inherit;
}
body {
  font-family: "Jomolhari", system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  background-color: $main-bg-dark;
  color: $main-color-white;
}

body.modal-open {
    overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
