@use "./variables" as *;
@use "./mixins" as *;

.container {
  display: flex;
  margin: auto;
  max-width: 375px;
  padding: 80px 0 0 0;
}
.title-sections {
  font-size: 40px;
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}
.prev-btn,
.next-btn {
  color: $main-color-grey;
}

.icon-prev,
.icon-next {
  height: 23px;
  width: 114px;
  color: $main-color-white;
}

.isActive {
  color: $main-color-white;
}
.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}
@include tablet-only {
  .container {
    max-width: 1439px;
    width: 100%;
    padding: 100px 32px 0;
  }
  .our-tours {
    align-items: center;
  }
  .btn-container {
    display: flex;
    margin-top: 60px;
    gap: 208px;
  }
  .swiper-container-tours{
    margin-top: 40px;
  }
}
