@use "../base/variables" as *;
.container {
  display: flex;
  margin: auto;
  max-width: 375px;
  padding: 16px 16px 0;
}
.title-sections {
  font-size: 40px;
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}
.prev-btn,
.next-btn {
  color: $main-color-grey;
}

.icon-prev,
.icon-next {
  height: 23px;
  width: 114px;
   color: $main-color-white;
}

.isActive {
  color: $main-color-white;
}
.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none; 
}