$main-color-white: #ffffff;
$main-bg-dark: #141A19;
$main-color-but: #394014;

$bp-mobile-adaptive: 375px;
$bp-tablet: 835px;
$bp-desktop: 1440px;


@mixin mobile {
  @media screen and (min-width: $bp-mobile-adaptive) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $bp-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $bp-desktop) {
    @content;
  }
}