@use "./base/variables" as *;
@use "./base/mixins" as *;

.about__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.about-wrapper {
  position: relative;
}

.about-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateY(-5%);
  background-color: rgba(255, 255, 255, 0.05);
  mask-image: url("../assets/svg/map.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 746px 420px;
  z-index: -1;
}

@include tablet-only {
  .about {
    width: 835px;
    height: 573px;
  }
  .about__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .about__text:first-child {
    width: 369px;
    grid-row: span 2;
  }
  .about-wrapper::before {
    transform: translateY(-10%);
    // mask-size: 835px 614px;
  }
}
