.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.logo-footer {
  width: 127px;
  height: 90px;
}
.list-nav-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.list-contacts-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wrapper-list-footer {
  margin-top: 32px;
}
.list__icon-social-footer {
  margin-top: 32px;
  display: flex;
  gap: 15px;
}
.item__icon-social-footer {
  width: 24px;
  height: 24px;
}
.icon-social-footer {
  width: 100%;
  height: 100%;
}
.copywriter {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
a {
  font-style: normal;
}
