@use "./base/variables" as *;

.gallery {
  padding-top: 80px;
  padding-bottom: 32px;
  flex-direction: column;
}
.swiper-container-gallery {
  margin: 32px 0 32px 0;
  max-width: 344px;
  width: 100%;
  height: 614px;
}
.img-gallery {
  width: 344px;
  height: 614px;
  object-fit: cover;
  border-radius: 4px;
}
