@use "./base/variables" as *;
@use "./base/mixins" as *;

.gallery {
  padding-top: 80px;
  padding-bottom: 32px;
  flex-direction: column;
}
.swiper-container-gallery {
  margin: 32px 0;
  width: 100%;
  height: 614px;
}

.img-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@include tablet-only {
  .gallery {
    width: 835px;
  }
  .swiper-container-gallery {
    height: 494px;
    margin: 64px 0;
  }
}
