@use "./base/variables" as *;

.header-container {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 375px;
  width: 100%;
  transform: translateX(-50%);
  align-items: center;
  z-index: 100;
}

.btn__burger-menu {
  display: flex;
  margin-left: auto;
  color: $main-color-white;

  position: relative;

  justify-content: center;
  align-items: center;
}

.logo,
.btn__burger-menu {
  position: relative;
  z-index: 300;
  width: 64px;
  height: 46px;
}
.burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 375px;
  width: 100%;
  height: 100vh;
  padding-top: 260px;
  z-index: 200;

  background-image: url("/image/burger-menu/bgBurgerMenu.jpg");
  background-image: image-set(
    url("/image/burger-menu/bgBurgerMenu.jpg") 1x,
    url("/image/burger-menu/bgBurgerMenu@2x.jpg") 2x
  );
  background-size: 375px 812px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.list-nav-burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.item-nav-burger-menu {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}

.is-open {
  transform: scaleX(1);
}

.is-hidden {
  display: none;
}

.icon-burger-menu {
  position: absolute;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;
}

.icon-burger-menu.is-hidden {
  display: block;
  opacity: 0;
  transform: rotate(180deg) scale(0);
}

.icon-burger-menu:not(.is-hidden) {
  opacity: 1;
  transform: rotate(0) scale(1);
}
