@use "./base/variables" as *;

.header-container {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 375px;
  width: 100%;
  transform: translateX(-50%);
  align-items: center
}
.logo {
  width: 64px;
  height: 46px;
}
.btn__burger-menu {
  display: flex;
  margin-left: auto;
  width: 40px;
  height: 40px;
  color: $main-color-white;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 748px;
  width: 100%;
  height: 100vh;
  background-color: black;
}