@use "./base/variables" as *;
@use "./base/mixins" as *;

.our-tours {
  display: flex;
  flex-direction: column;
}
.swiper-container-tours {
  max-width: 375px;
  width: 100%;
}
.list-our-tours {
  margin-top: 32px;
  width: 100%;
}

.img-tours {
  width: 100%;
  height: 409px;
  object-fit: cover;
  object-position: right;
}
.wrapper-tours {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.title-tours {
  font-size: 24px;
}

.characteristic-list {
  margin-top: 16px;
}
.characteristic-item {
  font-family: Lato;
  font-size: 16px;
  position: relative;
  margin-left: 22px;
}
.characteristic-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -14px;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}
.included-section {
  margin-top: 16px;
}

.text-include {
  font-size: 18px;
}
.included-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.included-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.included-icon {
  width: 24px;
  height: 24px;
}
.btn-tours-book {
  margin-top: 32px;
  max-width: 343px;
  width: 100%;
  height: 54px;
  background-color: $main-color-but;
  color: $main-color-white;
  border-radius: 4px;
  font-size: 16px;
  flex-shrink: 0;
}
@include tablet-only {
  .swiper-container-tours {
    max-width: 835px;
  }
  .img-tours {
    height: 642px;
  }
  .wrapper-list-characteristic-included {
    display: flex;
    // gap: 32px;
  }
  .included-section{
    margin-left: auto;
  }
 

}
