@use "./base/variables" as *;

.reviews {
  padding-top: 32px;
  background-image: url("/image/reviews/bgReviewsMobile.jpg");
  background-image: image-set(
    url("/image/reviews/bgReviewsMobile.jpg") 1x,
    url("/image/reviews/bgReviewsMobile@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: auto;

  display: flex;
  flex-direction: column;
}
.swiper-container-reviews {
  margin: 32px 0;
  max-width: 343px;
  width: 100%;
  height: 343px;
}
.review-card {
  border: 1px solid #fff;
  padding: 32px;
}

.list-icon-stars {
  display: flex;
  gap: 4px;
}
.item-icon-star {
  width: 24px;
  height: 24px;
  color: #d9d9d41a;
  svg {
    width: 100%;
    height: 100%;
  }
}
.item-icon-star.is-active {
  color: #AE990B; 
}
.wrapper-info-person {
  display: flex;
  align-items: center;
  gap: clamp(8px, 4vw, 24px);
}
.name-person {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-name-person {
  font-size: 18px;
}

.text-reviews {
  margin-top: 32px;
  font-family: Lato;
  font-size: 16px;
}
