@use "./base/variables" as *;
@use "./base/mixins" as *;
.start-travel {
  background-image: url("/image/start-trevel/bgStartTravelMobile.jpg");
  background-image: image-set(
    url("/image/start-trevel/bgStartTravelMobile.jpg") 1x,
    url("/image/start-trevel/bgStartTravelMobile@2x.jpg") 2x
  );

  background-position: center;
  background-repeat: no-repeat;
  background-size: 375px 800px;

  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding: 54px 0;
}
.wrapper-start-travel {
  background-color: $main-bg-dark;
  padding: 40px 16px;
}
.title-start-travel {
  display: flex;
}
.text-start-travel,
.text__start-travel--secondary {
  font-family: Lato;
  font-size: 16px;
  margin-top: 10px;
}
.forma-start-travel {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 12px;

  font-family: Lato;
  font-size: 16px;
}
.wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrapper-input > label {
  font-family: Jomolhari;
  font-size: 18px;
}
.wrapper-input > input::placeholder,
textarea::placeholder {
  font-family: Lato;
  font-size: 16px;
  color: #b9b9b9;
}

.wrapper-input > input,
textarea {
  font-family: Lato;
  font-size: 16px;
  color: $main-color-white;
}

.input-start-travel {
  padding: 14px 12px;
  background-color: transparent;
  border: 1px solid $main-color-white;
  outline: none;
}

.texteria-start-travel {
  height: 102px;
  padding: 14px 12px;
  background-color: transparent;
  border: 1px solid $main-color-white;
  outline: none;
}

.btn-form-submit {
  width: 100%;
  height: 54px;
  margin-top: 20px;
  background-color: $main-color-but;
  color: $main-color-white;

  font-family: Jomolhari;
  font-size: 16px;
}
@include tablet-only {
  .start-travel {
    background-image: image-set(
      url("/image/start-trevel/bgStartTravelTablet.jpg") 1x,
      url("/image/start-trevel/bgStartTravelTablet@2x.jpg") 2x
    );
    background-position: left;
    background-size: 602px 786px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper-start-travel {
    width: 770px;
    border: 1px solid $main-color-white;
    display: flex;
    gap: 32px;
    padding: 70px 50px;
  }
  .wripper-info-start-trevel,
  .forma-start-travel {
    width: 50%;
    margin: 0;
  }
  .wripper-info-start-trevel{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .text-start-travel, .text__start-travel--secondary{
    margin: 0;
  }
}
